
nav {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #dcd6c9;
}

/* hi this is a test*/
header {
    padding: 15px;
    width: 100%;
    background-color: #c892b3;
    color: #ffffff;
}

.portfolio {
    text-align: center;
    align-content: center;
    font-family: 'Libre Baskerville';
}

.by-line {
    text-align: center;
    font-size: small;
    font-family: sans-serif;
}

.header-text {
    text-align: center;
    font-size: large;
    font-family: monospace;
}

/* .hero {
    height: 50%;
    width: 100%;
    background-image: url("../images/web-project-header-img.pngß");
} */

.toc {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    font-size: larger;
}

.photo-1 {
    object-fit: scale-down;
    max-width: 100%; 
    text-align: center; 
    margin-top: 5%;
    height: fit-content;
}

/* .my-row {
width: 75%;
align-items: right;
} */

.container {
    align-items: space-between;
    padding-right: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

/* 
#about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'monospace';
    background-color: #6D6E80;
    color: #ffffff;
} */

#about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'monospace';
    background-color: #6D6E80;
    color: #ffffff;
}

#my-projects {
    margin-bottom: 20px;
    padding: 50px;
    float: right;
    height: 300px;
    font-family: 'monospace';
    background-color: #6D6E80;
    color: #ffffff;
}

#contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'monospace';
    background-color: #6D6E80;
    color: #ffffff;
}

.row-left {
    /* justify-content: flex-start; */
    justify-content: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-right {
    display: flex;
    /* justify-content: end; */
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}

.card-header {
    position: relative;
    margin-top: -20px;
    border-radius: 8px;
    transition: all 0.5% ease-in;
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--color);
    border-radius: 8px;
    background-image: linear-gradient(#c892b3 0%,#F2D4D7 100%);
    display: flex;
    align-items: center;
    
}

.column {
    display: flex;
    flex-direction: column;
    border: dashed 1px white;
    min-width: 300px;
    width: 300px;
    align-items: center;
    margin: 10px;
    overflow: scroll;
}

.column h2 { 
    z-index: 1;
    border: solid 1px white;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--bg-color);
    width: 200px;
    flex-direction: row;
    color: var(--color);
}

a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #E9DCC9;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

  @media (min-width: 800px) {
    .container {
      width: 750px;
    }
}
/* 
@media (min-width: 700px) {
    .photo-1 {
      width: 750px;
    }
} */

@media only screen and (orientation: landscape) {
    body {
    }
  }